/* common */
.N-nav, .N-nav-channel, .gg-mod, .ggarea, .top-gg-area, .gg200x300, .attlogo, .top_search, .weather, .hot-tags, .footerbg, .N-nav-bottom, .media-area, .new,
#float-menu, #instant-news, #ssid1, #body > .area, 
[style*="fixed"], [name="top"], 
iframe, #body h1 {
	display: none !important;
}

body {
	padding: 0 !important;
	background: #f0f0f0 !important;
}

#body {
	background: #fff !important;
}

#wrapperbgId {
	height: 40px !important;
}

/* channel */
.ntes-nav, .footer-links, .nav-bottom, .imgText-widget-3 
{
	display: none !important;
}

/* old channel */
.NTES-nav, .i_mobi, .cooperation, .channel-end, .foot, 
body > .channel {
	display: none !important;
}

/* content */
.ep-header, .ep-content-side, .ep-fixed-bar, .ep-returnlink, .extra-tag, .mod-tab, .tie-area, .ep-tie-simple, .subfoot-wrap, .ep-source, .ep-summary, 
.ep-h1 + .clearfix {
	display: none !important;
}

#h1title {
	text-align: center !important;
}

.ep-content, .ep-content-main {
	padding: 0 !important;
	width: 600px !important;
	background: #f0f0f0 !important;
}

.ep-content-bg {
	background-image: none !important;
}

/* photoview */
.NTES_bg_, .nph_chn, .nph_search_panel, .ntshare-wrap, .wb-article-sharewraper, .nph_layout_bg, .nph_photo_layout, .nph_set_forward,  
#galleryRelat, #nhp_poparea, 
.nph_photo_ctrl ul li:first-child {
	display: none !important;
}

/* focus & money & lady & fashion & discovery */
.titleBar-coop, .friendLink, .atleLP, .baikepost, .lady-emotional, .lady_extra, .fashion_extra, .demoBox {
	display: none !important;
}
